KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM_NAME=POS
KEYCLOAK_CLIENT_ID=Pos-realm
KEYCLOAK_CLIENT_SECRET=ptxc8G9Ja0l0t2rLakFlKQQfxSyBc9by
KEYCLOAK_GRANT_TYPE=client_credentials

KEYCLOAK_AUTH_REALM=POS
KEYCLOAK_DEFAULT_CLIENT_UUID=37f283d0-fc24-4d14-bd02-63afc32f0024
PORT=3000
KEYCLOAK_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAi1/w2Hc5EQnYbtKY374EOMkz1revaL9VDg1ePKSsaKl+uNETEGwyiDY2t9munaS0ffPmDfk8wNwJmEsNfdE5H+6L53gUTbIlNwfYxL1REjx9tDIC4R5jSUV8qELl8ecNKA5RevVxsZWwYbbLfSWTiyer5X4h8FL83QqWtGnQXLAIgjlk2Xznwczfj7RLUZRWN44G2s2UJWmsxOhGpWLyNkaOVif+5LqYOiDiEnoKp+ZPfMMvEIRgjZcyHY0TY+HCWEqJ9TT8z2apY9ucgkFTeqD5NYBh7JWqcf+nKQpIojzxNVzv+wf9e2hq+57EXW1zFHJEftPc+fgAKh7je6mpeQIDAQAB