KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM_NAME=POS
KEYCLOAK_CLIENT_ID=Pos-realm
KEYCLOAK_CLIENT_SECRET=ptxc8G9Ja0l0t2rLakFlKQQfxSyBc9by
KEYCLOAK_GRANT_TYPE=client_credentials
KEYCLOAK_AUTH_REALM=POS
KEYCLOAK_DEFAULT_CLIENT_UUID=37f283d0-fc24-4d14-bd02-63afc32f0024
PORT=3000