KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM_NAME=POS-REALM
KEYCLOAK_CLIENT_ID=Pos-client
KEYCLOAK_CLIENT_SECRET=giofhdarkZsIYIZu23POeIP72nQzs8Ot
KEYCLOAK_GRANT_TYPE=client_credentials

KEYCLOAK_AUTH_REALM=POS-REALM
KEYCLOAK_DEFAULT_CLIENT_UUID=f883cd7f-118c-435a-9bae-1dc3f8e54e6e
PORT=3000
KEYCLOAK_PUBLIC_KEY=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhwhy1GEEBYrEN8aXVzGv+1dIDi2tyKHOCypE5j+YHcC49UMppo4oKVT+qUJvDw6p4o80PzMTFxRLLXgA8Nbwvmnx/35pm8dfUsWYaE9GKcoEEfKSi7aJ8FFWD/sMcmCNMDskIIejfeK6BG5WJETHKZ/kc5BAs8IIv3H23zUqoFTanyt3ZCjUnF63EFWZEqZ2iMERt8KqJP4WmK/Nn43/6x6hMf+Eq3JtDM44aOuej8glT+ImDQySu8rA6gHpzOOlqzNAP8srfGoHjYQo0EnnceYXPWjieXiE7GG4rHu6H5/KegfSmpTlS7NbVEgtXZVWr4iSR9b1tKlgwhWfNejrVQIDAQAB