# Keycloak Connection
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=POS_REALM
KEYCLOAK_AUTH_REALM=master

# Credentials
KEYCLOAK_GRANT_TYPE=password
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_USERNAME=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_DEFAULT_CLIENT_UUID=9e719e8d-3c3a-4619-8058-184ee756f178# Replace with your target client UUID